# 20211204: Ziel ist es sinnvolle Protypen, Erweiterungen, etc. von einem Release zu einem anderen zu "retten".

# Ignore everything
*

# Don`t ignore directories, so we can recurse into them
!*/

# Ignore directories
#*/
WEB-INF/src/*
WEB-INF/templates/*
WEB-INF/upload
*/bin/
*/log/*
/pages/
/pub/

# Ignore Directories NOT
# Merke: Das reicht nicht aus alle darunterliegenden Verzeichnisse und Dateien zu erfassen. !WEB-INF/fgl/*
# Also:
!WEB-INF/fgl/*/*/job/*


#!/WEB-INF/
#!*/ROOT/*
#!/config/*
#!/src/*



# Ignore
#.project
#*.7z

# Auf allen Ebenen .cvsignore ausschliessen
.cvsignore

# Auf allen anderen Ebenen .gitignore ausschliessen. Nur zuoberst nicht.
!.gitignore
*/.gitignore
*/*/.gitignore
*/*/*/.gitignore
*/*/*/*/.gitignore
*/*/*/*/*/.gitignore
*/*/*/*/*/*/.gitignore
*/*/*/*/*/*/*/.gitignore
*/*/*/*/*/*/*/*/.gitignore

